body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#title {
	font-size: 2em;
	text-align: center;
}

#subtitle {
	font-size: 1.4em;
	text-align: center;
}

svg {
	background-color: white;
}

#tooltip {
	position: absolute;
	visibility: hidden;
	width: auto;
	height: auto;
	pointer-events: none;
	font-size: 1em;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(169, 169, 182, 0.7);
	box-shadow: rgba(81, 81, 236, 0.35) 0px 5px 15px;
}
#tooltip:hover {
	background-color: white;
}
#legend {
	display: flex;
}
.doping_no {
	width: 15px;
	height: 15px;
	background-color: rgba(248, 202, 117, 0.9);
}
.doping_yes {
	width: 15px;
	height: 15px;
	background-color: rgba(112, 112, 248, 0.9);
}
